<%provide(:title, "Sign In")%>
<div class="login-container d-flex">
  <!-- Left Section -->
  <div class="left-section text-center text-white d-flex flex-column justify-content-center align-items-center" style="background-color: #4A3AFF; width: 50%; height: 100vh;">
    <div class="logo mb-4">
      <%= image_tag 'logo.jpg', alt: 'Akademi Logo', class: 'mb-3', size: '300x170' %>
      <h1>Hope Enterprise University College</h1>
    </div>
    <h2>Welcome back!</h2>
    <p>Address: Jemo 1 in front of Lebu Medehanialem Church, Addis Ababa</p>
  </div>

  <!-- Right Section -->
  <div class="right-section d-flex flex-column justify-content-center align-items-center" style="width: 50%; height: 100vh;">
    <div class="login-box">
      <%= devise_error_messages! %>
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <h2 class="text-center">Sign In</h2>
      <p class="text-center">Sign in with email and password</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
        </div>
        <div class="form-group d-flex justify-content-between">
          <% if devise_mapping.rememberable? %>
            <div>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-decoration-none" %>
        </div>
        <%= f.submit "Sign In", class: "btn btn-primary btn-block" %>
      <% end %>

      <p class="text-center mt-3">Don't have an account? <%= link_to "Sign up", admission_path, class: "text-decoration-none" %></p>
    </div>
  </div>
</div>