<%provide(:title, "Home")%>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
<style type="text/css">
  body{
  	background: #f0f0f0;
  }
  .banner{

  	width: 350px;
  	height: 200px;
  }

    h1 {
      display: block;
      font-size: 1.6em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }
  h1 {
      letter-spacing: .5px;
  }

  body, h1, h2, h3, p, button, input, select, textarea {
      font-family: 'Raleway', Arial, sans-serif;
  }
</style>
<div class="content mt-3">
  <div class="">
    <div class="row  justify-content-center">
      <div class="col-12 col-md-8">
        <div class="card  card-primary">
          <!-- <div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-info-circle mr-2"></i>
							<strong>Instruction</strong>
						</h3>
					</div> -->
					<!-- /.card-header -->
					<div class="card-body p-5">
						<div class="d-flex justify-content-center">
							<%= image_tag("logo3.jpg", class: "banner")%>
						</div>
						
	        	<h1 class="text-center">Welcome To Premier Online College</h1>
	        	<div class="container text-center">
	        		<p>
		        		This is Premier College registrar and school management portal system. To registrar click the << Continue >> button and answer the quetions.
		        	</p>
		        	<%=link_to "continue",requirements_path(modality: "online", study_level: "graduate"),'data-no-turbolink' => false, class: "btn btn-block bg-gradient-primary btn-lg"%>
	        	</div>
		        
					</div>
					<!-- /.card-body -->
				</div>
			</div>
      <!-- Alumni Services Sidebar -->
      <div class="col-lg-3 col-md-4 mb-4">
        <div class="card" style="position:sticky;top:30px;">
          <div class="card-header" style="background:#077b3f;color:#fff;">
            <h4 class="mb-0">Alumni Services</h4>
          </div>
          <div class="card-body p-0">
            <ul class="list-group list-group-flush alumni-sidebar-list">
              <li class="list-group-item">
                <%= link_to 'Official Transcript', new_document_request_path(document_type: 'Official Transcript'), style: 'color:#036696;font-weight:600;' %>
              </li>
              <li class="list-group-item">
                <%= link_to 'Original Degree', new_document_request_path(document_type: 'Original Degree'), style: 'color:#036696;font-weight:600;' %>
              </li>
              <li class="list-group-item">
                <%= link_to 'Temporary Certificate', new_document_request_path(document_type: 'Temporary Certificate'), style: 'color:#036696;font-weight:600;' %>
              </li>
              <li class="list-group-item">
                <%= link_to 'Student Copy', new_document_request_path(document_type: 'Student Copy'), style: 'color:#036696;font-weight:600;' %>
              </li>
              <li class="list-group-item">
                <%= link_to 'To Whom It May Concern', new_document_request_path(document_type: 'To Whom It May Concern'), style: 'color:#036696;font-weight:600;' %>
              </li>
              <li class="list-group-item">
                <%= link_to 'Track Your Request', track_form_document_requests_path(document_type: 'Track Request'), style: 'color:#036696;font-weight:600;' %>
              </li>
            </ul>
          </div>
        </div>
        <div class="card" style="position:sticky;top:30px;">
              <div class="card-header" style="background:#077b3f;color:#fff; border-radius:0;">
                <h4 class="mb-0">Other Services</h4>
              </div>
              <ul class="list-group list-group-flush alumni-sidebar-list">
                <li class="list-group-item">
                  <%= link_to 'Apply for Transfer', new_external_transfer_path, style: 'color:#036696;font-weight:600;' %>
                </li>
              </ul>
            </div>
      </div>
    </div>
  </div>
